<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<html lang="pl">
<head>

    <!-- W head znajdują się: kodowanie znaków, język, tytuł i opis w wyszukiwarce, skrypty JavaScript,
    arkusze styli CSS, czcionki Google'a-->
    <meta charset="UTF-8">
    <title>Hugh Jackman - Wolverine</title>
	<meta name="description" content="Witryna internetowa będąca małym hołdem dla Hugh Jackmana wcielającego się w filmową postać Wolverine'a" />
	<meta name="keywords" content="Wolverine, Rosomak, X-Men, Mutant, Hugh Jackman, Weapon X, Broń X, Adamantium claws, szpony" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	</meta>

	<!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</link>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

	<!--<script type="text/javascript" src="http://localhost:8080/script/MyClock.js"></script>-->

	<!--<script src="http://localhost:8080/script/AjaxGetJsonActorInfo.js"></script>-->

	<script>

//		$(document).ready(function() {
//
//			//after button is clicked we download the data
//			$('.getInfoFromServerButton').click(function(){
//
//				//start ajax request
//				$.ajax({
//					url: "http://localhost:8080/getAjax",
//					dataType: "text",
//
//					success: function(data) {
//						$('.containerAjax').append(data);
//					}
//				});
//			});
//		});


		// Funkcja wywoływana, gdy dokument HTML zostanie w pełni załadowany
		$( document ).ready(function() {

			// Chwyta element o klasie "zaladujTresc" i sprawia, że po kliknięciu na niego wywołana zostanie funkcja "getData".
			$('.getInfoFromServerButton').click(getData);
		});

		// Funkcja wykonujca zapytanie JSON i przetwarzajca odpowiedź.
		function getData() {

			$.ajax({
				url: "http://localhost:8080/getAjax"
			}).then(function(data) {
				$('.containerAjax').append(data);
			});
		}

	</script>

	<script type="text/javascript">

		function timeCounter() {

			var todayTime = new Date();

			var day = todayTime.getDate();
			var month = todayTime.getMonth()+1;
			if (month<10)
				month = "0" + month;
			var year = todayTime.getFullYear();

			var hour = todayTime.getHours();
			if (hour<10)
				hour = "0" + hour;
			var minute = todayTime.getMinutes();
			if (minute<10)
				minute = "0" + minute;
			var second = todayTime.getSeconds();
			if (second<10)
				second = "0" + second;

//			każemy skryptowi znaleźć element (dowolny) z naszego htmla i podmienić całą jego zawartość
//			na to co znajduje się po znaku =
//			document.getElementById("myClock").innerHTML = day + "/" + month + "/" + year + " | " + hour
//					+ ":" + minute + ":" + second;
			$("#myClock").text(day + "/" + month + "/" + year + " | " + hour
					+ ":" + minute + ":" + second);

			setTimeout("timeCounter()", 1000);
		}

	</script>

	<script>

		var slideNumber = Math.floor(Math.random()*7);
		var photosURLArray = ["http://d2vrsup6vl2y4n.cloudfront.net/wp-content/uploads/2016/03/1870_1_HJ-galeri.jpg",
								"https://www.mtlblog.com/uploads/227049_d1ac9adda15ff3ddc3442cee8106d9fbd563e059.jpg",
								"http://i0.wp.com/peopledotcom.files.wordpress.com/2016/10/hugh-jackman4.jpg?crop=1px%2C0px%2C1997px%2C1333.1620879121px&resize=728%2C486&ssl=1",
								"http://www.wallpaperup.com/uploads/wallpapers/2014/02/05/248113/230bf96eb495205ce02474e3392dafab.jpg",
								"https://tribzap2it.files.wordpress.com/2015/09/hugh-jackman-getty.jpg",
								"https://1.soompi.io/wp-content/uploads/2015/10/hugh-jackman.jpg",
								"https://www.quirkybyte.com/wp-content/uploads/2017/01/542b04f5202bb_-_hugh-jackman-cover-lg.jpg"];

		function fadeOutAnimation() {
			$("#slider").fadeOut(500);
		}

		function changeSlide() {

			var imgFile = "<img style=\"max-width: 100%; max-height: 100%;\" src=\"";
			slideNumber++;

			slideNumber = slideNumber%7;
//			if (slideNumber>6) slideNumber = 0;

//			document.getElementById("slider").innerHTML = imgFile + photosURLArray[slideNumber] + "\" />";
			document.getElementById("slider").style.background = "url('" + photosURLArray[slideNumber] + "') no-repeat center center";
			document.getElementById("slider").style.backgroundSize = "cover";

			// efekt pojawienia się zdjęcia
			$("#slider").fadeIn(500);

			setTimeout("changeSlide()", 3000);
			setTimeout("fadeOutAnimation()", 2500);
		}

	</script>



	<style>

		.banner, #logo {
			/*background-image:url('../static/img/wolverine1.jpeg');*/
			background-image:url('https://i.ytimg.com/vi/9prTd7cWa2E/maxresdefault.jpg');
			background-position: center center;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
			height: 500px;
		}

		#image
		{
			height: 400px;
			display: block;
			margin: 0 auto;
		}
		
		.logo
		{
			background-color: black;
			color: white;
			text-align: center;
		}
		
		#myClock
		{
			font-size: 20px;
			color: #cedae2;
		}

		.menu
		{
			background-color: #222;
			height: 600px;
			color: #E6E6E6;
			padding: 10px;
			margin-top: 5px;
			box-sizing: border-box;
			border-color: transparent;
			border-style: solid;
			border-width: 5px;
			border-color: #6E6E6E;
		}
		
		.menu-list
		{
			color: #E6E6E6;
			padding: 10px;
			font-size: 20px;
		}
		
		.list-margin
		{
			margin: 8px 0;
		}

		.containerAjax
		{
			font-size: 16px;
		}

		.content
		{
			background-color: #E6E6E6;
			<!-- background-color: #BDBDBD; -->
			color: #1C1C1C;
			min-height: 600px;
			margin-top: 5px;
			<!-- margin-left: 5px; -->
		}
		
		#footer
		{
			text-align: center;
			color: #1C1C1C;
			clear: both;		
		}
		
		.bottomleft
		{
			position: absolute;
			bottom: 15px;
			font-size: 20px;
		}

		.photo-div
		{
			min-height: 250px;
			background-repeat: no-repeat;
			background-size: cover;
			margin-bottom: 50px;
			/*margin-left: 45px;*/
		}

		.photo-list
		{
			margin-bottom: 35px;
		}

		#slider
		{
			min-height:  450px;
			background-size: cover;
		}

		dd
		{
			padding-left: 5em;
		}

		figcaption
		{
			text-align: center;
			font-size: 17px;
		}

		
	</style>
	
</head>
<!--onload="timeCounter();"-->
<body onload="timeCounter(); changeSlide();" bgcolor="#E6E6E6">

	<header>
	
		<nav class="navbar navbar-inverse">
		    <div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Hugh Jackman Unofficial Website</a>
			</div>
				
			<ul class="nav navbar-nav">
			    <li class="active"><a href="http://localhost:8080/">Home</a></li>
			    <li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Page 1
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
					    <li><a href="#">Page 1-1</a></li>
					    <li><a href="#">Page 1-2</a></li>
					    <li><a href="#">Page 1-3</a></li>
					</ul>
				</li>
			    <li><a href="#">Page 2</a></li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
			    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
			    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			</ul>
		  </div>
		  
		</nav>
	
	</header>

	<div class="row">
		
			<div class="banner">
			</div>

			<div class="col-md-12 logo" >

				  <h2>Hugh "Wolverine" Jackman</h2>

			</div>			
    </div>
	
	<div id="mainContentContainer" class="container">

		
		<div class="row">
	  
			<div class="col-md-3 menu">

				<div align="center" id="myClock">

					BLA BLA BLA

				</div>

				<div class="sidebar-module">
					<h3 align="center" >Menu</h3>
					<ol class="list-unstyled">
						<li class="list-margin" ><a class="menu-list" href="#">Opcja 1</a></li>
					    <li class="list-margin" ><a class="menu-list" href="#">Opcja 2</a></li>
					    <li class="list-margin" ><a class="menu-list" href="#">Opcja 3</a></li>
					    <li class="list-margin" ><a class="menu-list" href="#">Opcja 4</a></li>
					    <li class="list-margin" ><a class="menu-list" href="#">Opcja 5</a></li>
					</ol>
				</div>
				
				<div class="sidebar-module bottomleft">
				
					<h3>Oficjalne strony:</h3>
					<ol class="list-unstyled">
						<li class="list-margin" ><a class="menu-list" href="#">
							<a style="color:#81d4fa;" href="https://twitter.com/realhughjackman" target="_blank" title="Przekierowanie do Twittera">Twitter</a>
						</a></li>
						<li class="list-margin" ><a class="menu-list" href="#">
							<a style="color:#1565c0;" href="https://pl-pl.facebook.com/HughJackman/" target="_blank" title="Przekierowanie do Facebook'a">Facebook</a>
						</a></li>
					</ol>
				
				</div>
			
			</div>
			
			<!-- <div class="col-md-9 content"> -->
			
				<div class="col-md-9 content jumbotron">
					<div class="container">
						<h1 style="font-size:300%;" align="center">Galeria zdjęć</h1>
					</div> 
				
					<br /> <br />


					<div align="center" class="container1">

						<div class="containerAjax"></div>
						<button class="getInfoFromServerButton">Get info</button>

					</div>

					<br /> <br />

					<div align="center" class="container">

						<button type="button" class="btn btn-lg btn-default">Default</button>
						<button type="button" class="btn btn-lg btn-primary">Primary</button>
						<button type="button" class="btn btn-lg btn-success">Success</button>
						<button type="button" class="btn btn-lg btn-info">Info</button>
						<button type="button" class="btn btn-lg btn-warning">Warning</button>
						<button type="button" class="btn btn-lg btn-danger">Danger</button>
						<button type="button" class="btn btn-lg btn-link">Link</button>

					</div> 
					
					<br /> <br />

					<p>Przykład skrótów. Znacznik <b>abbr</b> (skrót - abbreviation).</p>

					<p>This web site is about <abbr title="HyperText Markup Language">HTML</abbr> and <abbr title="Cascading Style Sheets">CSS</abbr>.</p>

					<hr /><p>Przykład definicji. Znacznik <b>dfn</b></p>

					<p>Bob's <dfn title="Dog">canine</dfn> mother and <dfn title="Horse">equine</dfn> father sat him down and carefully explained that he was an <dfn title="A mutation that combines two or more sets of chromosomes from different species">allopolyploid</dfn> organism.</p>

					<hr /><p>Przykład stosowania cytatów - odpowiednio znaczniki <b>q</b> i <b>blockquote</b></p>

					<p>According to <cite>the Bible</cite>, after six days God said <q>screw this for a lark, I'm having a nap</q>.</p>

					<p>According to <cite>the Bible</cite>, after six days God said <blockquote><p>screw this for a lark, I'm having a nap.</p></blockquote></p>

					<hr /><p>Przykład indeksu dolnego - H<sub>2</sub>O; oraz górnego - 100 m<sup>2</sup></p>

					<hr /><p>Zmiany treści - znacznik <b>ins</b> oraz <b>del</b></p>

					<p>W sytuacji kiedy jakaś informacja jest <del>przedawniona</del>, ale nie chcemy jej usuwać z naszej strony
								możemy użyć znacznika del. <ins>Nowa treść</ins> może zostać wpisana między tagi ins (podkreślenie).</p>

					<hr /><p>Przykład listy definicji</p>

					<dl>
						<dt>Znacznik <b>dl</b></dt>
							<dd>Utworzenie listy definicji</dd>
						<dt>Znacznik <b>dt</b></dt>
							<dd>Podanie definiowanego terminu</dd>
						<dt>Znacznik <b>dd</b></dt>
							<dd>Podanie definicji</dd>
					</dl>

					<br /> <br />

					<div align="center" id="slider">

					</div>

					<br /> <br />

					<section class="row">
				<!-- col-lg-offset-1 -->

						<div class="col-xs-12 col-sm-9 col-md-7 col-lg-6 photo-div">
							<figure>
								<a target="_blank" href = "http://d2vrsup6vl2y4n.cloudfront.net/wp-content/uploads/2016/03/1870_1_HJ-galeri.jpg" class = "thumbnail">
									<img src="http://d2vrsup6vl2y4n.cloudfront.net/wp-content/uploads/2016/03/1870_1_HJ-galeri.jpg" alt="Generic placeholder thumbnail"/>
								</a>
								<figcaption>
									Hugh Jackman - fotografia nr 1
								</figcaption>
							</figure>
						</div>
							
						<div class="col-xs-12 col-sm-9 col-md-7 col-lg-6 photo-div">
							<figure>
								<a target="_blank" href = "https://www.mtlblog.com/uploads/227049_d1ac9adda15ff3ddc3442cee8106d9fbd563e059.jpg" class = "thumbnail">
									<img src="https://www.mtlblog.com/uploads/227049_d1ac9adda15ff3ddc3442cee8106d9fbd563e059.jpg" alt="Generic placeholder thumbnail"/>
								</a>
								<figcaption>
									Hugh Jackman - fotografia nr 2
								</figcaption>
							</figure>
						</div>
						
						<div class="col-xs-12 col-sm-9 col-md-7 col-lg-6 photo-div">
							<figure>
								<a target="_blank" href = "http://i0.wp.com/peopledotcom.files.wordpress.com/2016/10/hugh-jackman4.jpg?crop=1px%2C0px%2C1997px%2C1333.1620879121px&resize=728%2C486&ssl=1" class = "thumbnail">
									<img src="http://i0.wp.com/peopledotcom.files.wordpress.com/2016/10/hugh-jackman4.jpg?crop=1px%2C0px%2C1997px%2C1333.1620879121px&resize=728%2C486&ssl=1" alt="Generic placeholder thumbnail"/>
								</a>
								<figcaption>
									Hugh Jackman - fotografia nr 3
								</figcaption>
							</figure>
						</div>

						<div class="col-xs-12 col-sm-9 col-md-7 col-lg-6 photo-div">
							<figure>
								<a target="_blank" href = "http://www.wallpaperup.com/uploads/wallpapers/2014/02/05/248113/230bf96eb495205ce02474e3392dafab.jpg" class = "thumbnail">
									<img src="http://www.wallpaperup.com/uploads/wallpapers/2014/02/05/248113/230bf96eb495205ce02474e3392dafab.jpg" alt="Generic placeholder thumbnail"/>
								</a>
								<figcaption>
									Hugh Jackman - fotografia nr 4
								</figcaption>
							</figure>
						</div>

						<div class="col-xs-12 col-sm-9 col-md-7 col-lg-6 photo-div">
							<figure>
								<a target="_blank" href = "https://tribzap2it.files.wordpress.com/2015/09/hugh-jackman-getty.jpg" class = "thumbnail">
									<img src="https://tribzap2it.files.wordpress.com/2015/09/hugh-jackman-getty.jpg" alt="Generic placeholder thumbnail"/>
								</a>
								<figcaption>
									Hugh Jackman - fotografia nr 5
								</figcaption>
							</figure>
						</div>

						<div class="col-xs-12 col-sm-9 col-md-7 col-lg-6 photo-div">
							<figure>
								<a target="_blank" href = "https://1.soompi.io/wp-content/uploads/2015/10/hugh-jackman.jpg" class = "thumbnail">
									<img src="https://1.soompi.io/wp-content/uploads/2015/10/hugh-jackman.jpg" alt="Generic placeholder thumbnail"/>
								</a>
								<figcaption>
									Hugh Jackman - fotografia nr 7
								</figcaption>
							</figure>
						</div>

						<div class="col-xs-12 col-sm-9 col-md-7 col-lg-6 photo-div">
							<figure>
								<a target="_blank" href = "https://www.quirkybyte.com/wp-content/uploads/2017/01/542b04f5202bb_-_hugh-jackman-cover-lg.jpg" class = "thumbnail">
									<img src="https://www.quirkybyte.com/wp-content/uploads/2017/01/542b04f5202bb_-_hugh-jackman-cover-lg.jpg" alt="Generic placeholder thumbnail"/>
								</a>
								<figcaption>
									Hugh Jackman - fotografia nr 6
								</figcaption>
							</figure>
						</div>
						
					</section>

					<div align="center">
						<a href="#mainContentContainer">Wróć na początek</a>
					</div>
					
				</div>
		
		
		</div>
		
		
		<div id="footer" class="col-md-12">

			<p > Created by Kamil Działek &copy; Wszelkie prawa zastrzeżone
				<a style="color:#1C1C1C;" href="https://www.facebook.com/kamilosdzialek" target="_blank" title="Kontakt">Kontakt Facebook</a>
			</p> 
	   
		</div>
	
	</div>
	
			
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"/>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
	
</body>

</html>